.column {
  background-color: #f0ffff;
  border: 2px solid #333999;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  height: fit-content;
}

.title {
  font-family: inherit;
  color: #333999;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.cardList {
  display: flex;
  flex-direction: column;
  min-height: 20px;
}

.buttonIcon {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 55px;
}

.buttonIcon:hover {
  opacity: 0.7;
  border-radius: 4px;
}

.draggableCard {
  transition: opacity 0.2s ease;
}
